# asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==23.2.0
blinker==1.7.0
branca==0.7.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
# comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
conan==2.0.16
contourpy==1.2.0
cycler==0.12.1
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
# debugpy @ file:///D:/bld/debugpy_1707444619227/work
# decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
# exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
# executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fasteners==0.19
fiona==1.9.5
Flask==3.0.2
folium==0.15.1
fonttools==4.49.0
geopandas==0.14.3
gtfs_kit==6.1.0
gunicorn==21.2.0
idna==3.6
# importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1703269254275/work
# ipykernel @ file:///D:/bld/ipykernel_1707326433944/work
# ipython @ file:///D:/bld/ipython_1708707490842/work
itsdangerous==2.1.2
# jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.2
json2html==1.3.0
# jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
# jupyter_core @ file:///D:/bld/jupyter_core_1704727200100/work
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.3
# matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
# nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
numpy==1.26.4
# packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.2.1
# parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patch-ng==1.17.4
# pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
# platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
plotly==5.19.0
# prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
# psutil @ file:///D:/bld/psutil_1705722515136/work
# pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycountry==23.12.11
# Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyparsing==3.1.1
pyproj==3.6.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
PyYAML==6.0.1
# pyzmq @ file:///D:/bld/pyzmq_1701783321880/work
requests==2.31.0
retrying==1.3.4
Rtree==1.2.0
seaborn==0.13.2
setuptools==69.1.1
shapely==2.0.3
six==1.16.0
# stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
tenacity==8.2.3
# tornado @ file:///D:/bld/tornado_1708363233297/work
# traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
# typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
tzdata==2024.1
urllib3==1.26.18
utm==0.7.0
# wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug==3.0.1
wheel==0.42.0
xyzservices==2023.10.1
# zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
